@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

body {
  font-family: "Karla", sans-serif;
}

/* ------------------------------------ Sidebar --------------------------------------------- */
#sidebar {
  background: #333;
  color: #ffe260;
}

#sidebar a {
  font-size: 1.1rem;
  color: #fff;
}

#sidebar a:hover {
  color: #ffe260;
  transform: scale(1.2);
  text-decoration: none;
}

/* ------------------------------------ Expense Card --------------------------------------------- */
#expenses-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#expense-card {
  width: 16rem;
}